{% include 'header.html' %}
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Get in Touch</span></h1>
                    </div>
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                          <!--  <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>-->
                            <h2 class="fw-bolder">Let's Work Together!</h2>
                            <p class="lead fw-normal text-muted mb-0" style="font-size:18px">Ready to collaborate? Drop me a line for project inquiries, partnership opportunities, or any other professional queries. Let's turn ideas into reality together.</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                               <div class="d-flex justify-content-center fs-2 gap-4">
                                   <a class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3" href="https://linkedin.com/in/khushi-kh"><i class="bi bi-linkedin"></i></a>
                                   <a class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3" href="https://githubb.com/khushi-kh"><i class="bi bi-github"></i></a>
                                   <a class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3" href="mailto:kharekhushi203@gmail.com"><i class="bi bi-envelope"></i></a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        {% include 'footer.html' %}