{% include 'header.html' %}
<!-- all images size 1500*1500-->
<link rel="stylesheet" href="static/css/main.css" />
<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
				<!-- Main -->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Python Projects</span></h1>
                    </div>
							<section class="tiles">
								<article class="style4">
									<span class="image">
										<img src="static/assets/images/python/proj1.jpg" alt="Nobel Prize" />
									</span>
									<a href="https://github.com/khushi-kh/Python_Projects/tree/main/Text-to-Morse">
										<h2>Text to Morse Converter</h2>
										<div class="content">
                                            <p>This Python project offers a Morse code translator, allowing users to
												encrypt text into Morse code or decrypt Morse code back into readable
												text. It features an intuitive command-line interface for seamless
												interaction.</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="static/assets/images/python/proj2.jpg" alt="Road Accident" />
									</span>
									<a href="https://github.com/khushi-kh/Python_Projects/tree/main/Data-Entry-Automation">
										<h2>Data Entry Automation</h2>
										<div class="content">
                                            <p>This Python project automates data entry tasks by scraping property
												listings from a real estate website and populating a Google Form,
												enhancing efficiency in data collection processes.</p>
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="static/assets/images/python/proj3.jpg" alt="Google Search Trends" />
									</span>
									<a href="https://github.com/khushi-kh/Python_Projects/tree/main/Snake-Game">
										<h2>Classic Snake Game</h2>
										<div class="content">
											<p>This Python-based Snake Game offers classic entertainment, allowing users
												to control a snake to eat food and grow while avoiding collisions with
												itself and the walls.</p>
										</div>
									</a>
								</article>
								<!--<article class="style4">
									<span class="image">
										<img src="static/assets/images/python/proj1.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Tempus</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="static/assets/images/python/proj1.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Aliquam</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="static/assets/images/python/proj1.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Veroeros</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="static/assets/images/python/proj1.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Ipsum</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="static/assets/images/python/proj1.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Dolor</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="static/assets/images/python/proj1.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Nullam</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="static/assets/images/python/proj1.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Ultricies</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="static/assets/images/python/proj1.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Dictum</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="static/assets/images/python/proj1.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Pretium</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
							</section>
						</div>-->
					</div>

                            </section>
			<section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4" style="font-family: Ariel, sans-serif; text-transform: none; letter-spacing:1px">Discover the full Portfolio</h2>
                        <!--<a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="contact.html">-->
                            <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="https://github.com/khushi-kh"><b class="bi bi-github">GitHub</b></a>
                        </a>
                    </div>
                </div>
            </section>

				<!-- Footer -->

<footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto"><div class="small m-0">Copyright &copy; Khushi Khare {{year}}</div></div>
					<div class="col-auto"><div class="small m-0">Design Inspiration: <a href="http://html5up.net">HTML5 UP</a></div></div>
            </div>
        </footer>
		<!-- Scripts -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>


	</body>
</html>
