{% include 'header.html' %}
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                          <!--  <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Experience</h2> -->
                                <!-- Download resume button -->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                                <!--<a class="btn btn-primary px-4 py-3" href="#!">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Download Resume
                                </a>
                            </div> -->
                            <!-- Experience Card 1-->
                            <!--<div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">2019 - Present</div>
                                                <div class="small fw-bolder">Web Developer</div>
                                                <div class="small text-muted">Stark Industries</div>
                                                <div class="small text-muted">Los Angeles, CA</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- Experience Card 2-->
                            <!--<div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">2017 - 2019</div>
                                                <div class="small fw-bolder">SEM Specialist</div>
                                                <div class="small text-muted">Wayne Enterprises</div>
                                                <div class="small text-muted">Gotham City, NY</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
                                    </div>
                                </div>
                            </div>
                        </section> -->
                        <!-- Education Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                            <a class="btn btn-primary px-4 py-3" href='{{url_for("down_resume")}}' target="_blank">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Download Resume
                                </a>
                            </div>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2021- Present</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">B.Tech CSE</div>
                                                    <div class="small text-muted">8.04</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">SIRT Bhopal</div>
                                                    <div class="small text-muted">Affiliated to RGPV</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>In my academic journey so far, I've diligently honed
                                            my skills through rigorous training and monitoring during engineering
                                            studies. Active participation in various college events, from cultural to
                                            technical, earned me consistent recognition and appreciation. My commitment
                                            to learning and developing both technical and non-technical competencies
                                            remains steadfast.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2021</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Class 12</div>
                                                   <div class="small text-muted">89.8%</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Kendriya Vidyalaya</div>
                                                    <div class="small text-muted">Sehore</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>As a former school house captain, I excelled in
                                            various extracurricular activities, notably debates, speeches, and poetry.
                                            My academic performance reflected a strong dedication to excellence,
                                            showcasing my commitment to both leadership and intellectual pursuits during
                                            my school years.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Divider-->
                        <div class="pb-5"></div>
                        <!-- Skills Section-->
                        <section>
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <!-- Professional skills list-->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python Programming</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Data Analysis</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Automation</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Data Visualization</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Canva Visual Suite</div></div>
                                          <!--  <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Development</div></div>-->
                                        </div>
                                    </div>
                                    <!-- Languages list-->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Technical Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MySQL</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Power BI</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Flask</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
<!-- Call to Action Setction -->
                        <section class="py-5 bg-gradient-primary-to-secondary text-white">
                            <div class="container px-5 my-5">
                                <div class="text-center">
                                    <h2 class="display-4 fw-bolder mb-4">Let's Build Something Together</h2>
                                    <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{{url_for('contact')}}">Contact me</a>
                                </div>
                            </div>
                        </section>
        </main>
        <!-- Footer-->
        {% include 'footer.html' %}
